*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    gap: 10px;
}
h1{
    font-size: 2rem;
    color: #333;
}
button{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #405641;
}
.result{
    font-size: 1.2rem;
    color: #555;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}